* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-size: 24px;
  font-size: 1.2rem; /* 1.2rem = 20*1.2=24px */
  font-family: 'Times New Roman', Times, serif;
  background-color: #1c1c1c;

  color: #ffffff;
  color: #fff;
  color: white;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;

  /* Nesnenin kendi iç boşluğu*/
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding: 2rem 2rem 2rem 2rem; /*ÜST-SAĞ-ALT-SOL */
  padding: 2rem;
}

h1 {
  font-size: 2.4rem; /* 2.4rem = 20*2.4=48px */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  color: #00c2cb; /* buz rengi */
}

/*fieldset */
fieldset {
  border: 2px solid #00c2cb; /* buz rengi */
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #2a2a2a; /* koyu gri */
  max-width: 700px; /* Maksimum genişlik */
  width: 100%; /* Tüm genişliği kapla */
  box-shadow: 0 0 10px rgba(196, 203, 0, 0.5);
  display: block; /* Buz rengi gölge */
}

legend {
  font-size: 1.5rem; /* 1.5rem = 20*1.5=30px */
  font-weight: bold;
  color: #00c2cb; /* buz rengi */
  margin-bottom: 0.5rem;
}

fieldset p {
  font-size: 0.8rem; /* 0.8rem = 20*0.16px */
  color: #ffffff; /* beyaz */
  line-height: 1.5; /* Satır yüksekliği */
}

.form-group {
  margin-bottom: 1.5rem; /* Form grubu arasındaki boşluk */
  display: flex;
  flex-direction: column; /* Dikey hizalama */
}

.form-group label {
  font-size: 1.1rem; /* 1.1rem = 20*1.1=22px */
  color: #fff;
  margin-bottom: 0.5rem; /* Etiket ile giriş alanı arasındaki boşluk */
  font-weight: lighter; /* Daha hafif yazı tipi */
}

/* ortak yapıda*/
input,
textarea,
select {
  padding: 0.5rem; /* İç boşluk */
  font-size: 1rem; /* 1rem = 20*1=20px */
  border: 1px solid #00c2cb; /* Buz rengi kenarlık */
  border: none; /* Buz rengi kenarlık */
  border-radius: 0.5rem; /* Kenar yuvarlama */
  background-color: #2a2a2a; /* Koyu gri arka plan */
  color: #fff; /* Beyaz metin rengi */
  outline: none; /* Odaklandığında kenarlık olmaması için */
}
